.home{
    height: 90vh;
    overflow-y: hidden;
}

.home-content{
    display: flex;
    width: 100%;
}

.home-markets{
    width: 50%;
    height: 90vh;
}

.home-markets-button {
    width: 45%;
    height: 45%;
    margin-bottom: 10%;
    flex-direction: column;
}
.home-markets-product-button{
    width: 45%;
    height: 45%;
    background-color: rgb(144, 85, 255);
    margin-bottom: 10%;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.5s;
    color: white;
}


.home-markets-product-button:hover{
    scale: 1.05;
}

.home-buttons{
    width: 100%;
    height: 20%;
    font-size: 25px;
    transition: 0.5s;
    background-color: rgb(144, 85, 255);
    color: rgba(255, 255, 255, 0.886);
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    rotate: (-30deg);

}

.home-buttons:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: rgb(83, 56, 135);
}

.flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 27px;
    color: rgba(255, 255, 255, 0.879);
}