.container{
    width: 100%;
    height: 10vh;
    border-bottom: 3px solid #23404b;
    color: white
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
    cursor: pointer;
    margin-left: 50px;
}

.buttons{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}

.activeStyle {
    color: white;
    font-size: 10px;
    text-decoration: none;
    text-shadow: 3px 4px 9px rgba(0, 0, 0, 0.8);
    font-weight: 900;
}

.staticStyle{
    color: white;
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.badge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5%;
    left: 90%;
    border-radius: 50%;
    color: black;
            
}